# Editor backup/lock files
*~
\#*\#
.\#*
.DS_Store

# Racket compiled artifacts
compiled/
**/compiled/

# LaTeX/aux build detritus
paper/auto/
paper/*.aux
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.run.xml
paper/*.pdf
paper/*.data.minted

# TeX/LaTeX build detritus (global)
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.toc
*.synctex.gz

# biber --tool output
*_bibertool.bib
