# Editor backup/lock files
*~
\#*\#
.\#*

# Racket compiled artifacts
compiled/
**/compiled/

# LaTeX/aux build detritus
paper/auto/
paper/*.aux
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.run.xml
